<div>
  <mat-card class="Product Line Inventory">
      <mat-card-header style="align-content: center; align-items: center; justify-content: center; display: grid;">
          <mat-card-title>Sku Inventory</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <button mat-raised-button *ngIf="admin" (click)="selectAll()"> Select All </button>
          <button mat-raised-button *ngIf="admin" (click)="deselectAll()"> Deselect All </button>
          <button mat-raised-button *ngIf="admin" (click)="deleteSelected()" style="color: white; background-color: red;" [disabled]="dataSource.data.length==0"> Delete Selected </button>
          <button mat-raised-button *ngIf="admin" (click)="modifySelected()" style="color: white; background-color: red;" [disabled]="dataSource.data.length==0"> Modify Selected </button>
          <button mat-raised-button *ngIf="admin" (click)="newProductLineButton()"> New Product Line </button>          
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
            <ng-container matColumnDef="checked">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Selected</mat-header-cell>
              <mat-cell *matCellDef="let product-line">
                <mat-checkbox [(ngModel)]="product-line['checked']"></mat-checkbox>
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef="let product-line">
                {{product-line['name']}}
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="skuNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Skus</mat-header-cell>
              <mat-cell *matCellDef="let sku">
                {{product-line['skus']}}
              </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator id="elementsTablePaginator" [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>
      </mat-card-content>
  </mat-card>
<div>
