<footer>
  <div style="display:inline-block;width:100%;text-align: center;">
      <div style="display:inline-block;width: 30%; text-align: left;"><p>Copyright &copy; 2019 Hypothetical Code. All rights reserved.</p>
  
      
      </div>
    <div style="display:inline-block;width: 40%; text-align: center;"><a style="color: white;" (click)="openPrivacyPolicy()">Privacy Policy</a></div>
    <div style="display:inline-block;width: 30%; text-align: right;"><p>Terms and Conditions</p></div>
    </div>
</footer>