<h1 mat-dialog-title>Select a Product Line to Delete</h1>
<div mat-dialog-content>
    <mat-selection-list #productLines>
        <mat-list-option *ngFor="let productLine of data">
          {{productLine['productlinename']}}
        </mat-list-option>
      </mat-selection-list>
      
      <p>
        Options selected: {{productLines.selectedOptions.selected.length}}
      </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="productLines.selectedOptions.selected" cdkFocusInitial>Delete</button>
</div>