<mat-form-field>
  <input matInput placeholder="Filter" [(ngModel)]="filterQuery" (ngModelChange)="refreshData($event)">
</mat-form-field>

<div id='product-line-container'>
  <div *ngFor="let productLine of dataSource['data']">
    <app-product-line-tables class="productLines" [(ngModel)]="productLine"></app-product-line-tables>
  </div>
</div>



<!-- <div class="example-container">
  <h2>Done</h2> 
  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div> -->
