<div class="example-container">
  <button mat-button (click)="modifyName($event)" *ngIf="productmanager">
     {{_value['productlinename']}} <mat-icon>edit</mat-icon> 
    </button> 

  <h2 *ngIf="!productmanager">
    {{_value['productlinename']}}
  </h2> 
  <div *ngIf="productmanager"
    cdkDropList
    [id]="_value['productlinename']"
    #productLineList="cdkDropList"
    [cdkDropListData]="_value['skus']"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of _value['skus']" cdkDrag>
      <div *ngIf="item['sku']">
          {{item['sku']['skuname']}}:{{item['sku']['unitsize']}} * {{item['sku']['countpercase']}}
      </div>
      
    </div>
  </div>
  <div *ngIf="!productmanager"
  class="example-list">
    <div class="example-box" *ngFor="let item of _value['skus']">
        <div *ngIf="item['sku']">
            {{item['sku']['skuname']}}:{{item['sku']['unitsize']}} * {{item['sku']['countpercase']}}
        </div>
    </div>
  </div>
</div>