/* .product-line-container {
  width: 33%;
  display: inline-block;
} */

.ng-star-inserted {
  width: 150px;
  display: inline-block;
  margin: 5px;
}


button {
margin: 4px 2px;
max-width: 100px;
}

table {
    width: 100%;
}

.mat-form-field {
font-size: 14px;
width: 100%;
}

th.mat-sort-header-sorted {
color: black;
}

th.mat-header-cell {
text-align: center;
}