<h2 mat-dialog-title align="center">Create New User</h2>
<mat-dialog-content align="center">
  <mat-card>
    <mat-card-content style="display: grid; width: 100%; justify-items: center;">
      <form [formGroup]="form">

        <mat-form-field>
          <input matInput placeholder="Username" required formControlName="username" [errorStateMatcher]="userErrorMatcher" (input)="usernameChanged()" (keydown.enter)="createUser()">
          <mat-error>Username already exists.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Password" [type]="hidePassword1 ? 'password' : 'text'" formControlName="password" [errorStateMatcher]="passwordErrorMatcher" (keydown.enter)="createUser()">
          <mat-icon matSuffix (click)="hidePassword1 = !hidePassword1">{{hidePassword1 ? 'visibility_off' :
            'visibility'}}</mat-icon>
          <mat-hint>Optional. Default password is "password"</mat-hint>
          <mat-error>Passwords must match.</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
          <input matInput placeholder="Confirm Password" [type]="hidePassword2 ? 'password' : 'text'" formControlName="confirm" [errorStateMatcher]="passwordErrorMatcher" (keydown.enter)="createUser()">
          <mat-icon matSuffix (click)="hidePassword2 = !hidePassword2">{{hidePassword2 ? 'visibility_off' :
            'visibility'}}</mat-icon>
          <mat-hint>Optional. Default password is "password"</mat-hint>
          <mat-error>Passwords must match.</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="mat-raised-button" (click)="closeDialog()">Cancel</button>
  <button class="mat-raised-button" (click)="createUser()" [disabled]="form.get('username').value==''||form.get('password').value==''||form.get('password').value!=form.get('confirm').value||usernameExists" color="primary">Create</button>
</mat-dialog-actions>