<h2 mat-dialog-title align="center">Create New Ingredient</h2>
<mat-dialog-content align="center">
  <mat-card>
    <mat-card-content style="display: grid; width: 100%; justify-items: center;">
      <mat-form-field>
        <input matInput [(ngModel)]="data['ingredientname']" placeholder="Name" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="data['ingredientnumber']" placeholder="Ingr#" [errorStateMatcher]="numberErrorMatcher" (input)="numberChanged()">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="data['vendorinformation']" placeholder="Vendor Information">
      </mat-form-field>

      <!-- <mat-form-field>
        <input matInput [(ngModel)]="data['unitofmeasure']" placeholder="Unit of Measurement" required>
      </mat-form-field> -->

      <mat-form-field>
        <mat-select [(value)]="data['unitofmeasure']" placeholder="Unit of Measure" required>
          <mat-option *ngFor="let unit of data['units']" [value]="unit">
            {{unit}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="data['amount']" placeholder="Amount" [errorStateMatcher]="amountErrorMatcher" (input)="amountChanged()" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="data['costperpackage']" placeholder="Cost Per Package (USD)" [errorStateMatcher]="costErrorMatcher" (input)="costChanged()" required>
      </mat-form-field>
      

      <mat-form-field>
        <input matInput [(ngModel)]="data['comment']" placeholder="Additional Comments">
      </mat-form-field>

    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data" color="primary" [disabled]="costError || amountError || numberError ||shouldDisableCreateButton()">Create</button>
</mat-dialog-actions>