<div>
  <mat-card class="Ingredients">
      <mat-card-header style="align-content: center; align-items: center; justify-content: center; display: grid;">
          <mat-card-title>Ingredients</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button (click)="selectAll()"> Select All </button>
        <button mat-raised-button (click)="deselectAll()"> Deselect All </button>
        <!-- <button mat-raised-button *ngIf="admin" (click)="modifySelected()" > Modify Selected </button> -->
        <button mat-raised-button *ngIf="admin" (click)="deleteSelected()" color="warn" [disabled]="noneSelected()"> Delete Selected </button>
        <button mat-raised-button *ngIf="admin" (click)="newIngredient()" color="primary"> New Ingredient </button>      
        <button mat-raised-button (click)="exportSelected()" [disabled]="noneSelected()"> Export Selected To CSV </button>
        <mat-form-field>
          <input matInput placeholder="Filter" [(ngModel)]="filterQuery" (ngModelChange)="refreshData($event)">
        </mat-form-field>

        <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
          <ng-container matColumnDef="checked">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Selected</mat-header-cell>
            <mat-cell *matCellDef="let ingredient">
              <mat-checkbox [(ngModel)]="ingredient['checked']"></mat-checkbox>
            </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="ingredientname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let ingredient">
              {{ingredient['ingredientname']}}
            </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="ingredientnumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ingr#</mat-header-cell>
            <mat-cell *matCellDef="let ingredient">
              {{ingredient['ingredientnumber']}}
            </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="vendorinformation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor Information</mat-header-cell>
            <mat-cell *matCellDef="let ingredient">
              {{ingredient['vendorinformation']}}
            </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="packagesize">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Package Size</mat-header-cell>
            <mat-cell *matCellDef="let ingredient">
              {{ingredient['amount']}} {{ingredient['unitofmeasure']}}
            </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="costperpackage">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cost Per Package (USD)</mat-header-cell>
            <mat-cell *matCellDef="let ingredient">
              ${{ingredient['costperpackage']}}
            </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="comment">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Comment</mat-header-cell>
            <mat-cell *matCellDef="let ingredient">
              {{ingredient['comment']}}
            </mat-cell>
          </ng-container>
        
          <!-- <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
            <mat-cell *matCellDef="let ingredient">
              <button mat-raised-button (click)="deleteIngredient(element['name'])" style="color: white; background-color: red;"> Delete ingredient </button>
            </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
            <mat-cell *matCellDef="let ingredient">
                <button mat-button *ngIf="admin" (click)="modifyIngredient(ingredient)" color="primary"> 
                  <mat-icon>edit</mat-icon>
                </button>
            </mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator id="elementsTablePaginator" [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>
      </mat-card-content>
  </mat-card>
</div>

