table {
  width: 100%;
}

button {
  margin: 8px 4px;
}

.mat-card {
  min-width: fit-content;
}

.mat-cell, .mat-footer-cell, .mat-header-cell {
  min-width: 100px;
  
}

._ngcontent-c1 {
  height: 100%;
  overflow: hidden;
}