<h2 mat-dialog-title align="center">{{ dialog_title }}</h2>
<mat-dialog-content align="center">
  <mat-card>
    <mat-card-content style="display: grid; width: 100%; justify-items: center;">
      
      <mat-form-field>
        <input matInput [(ngModel)]="skuname" placeholder="Name" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="skunumber" placeholder="Sku#" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="caseupcnumber" placeholder="Case UPC#">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="unitupcnumber" placeholder="Unit UPC#">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="unitsize" placeholder="Unit Size" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="countpercase" placeholder="Count Per Case" required>
      </mat-form-field>

      <div  class="dropdown-content" [hidden]="formulaDoesNotExist">
        <p> {{chosen_formula}} | {{chosen_scaling_factor}} <button type="submit" (click)="addFormulaButton()">Edit</button></p>
      </div>

      <div  class="add-form-button" [hidden]="formulaExists">
        <mat-dialog-actions align="center" >
          <button class="mat-raised-button" (click)="addFormulaButton()">Add Existing Formula</button>
        </mat-dialog-actions>
      </div>

      <br /> 
      <br /> 

        <mat-dialog-actions align="center" >
          <button class="mat-raised-button" (click)="newFormulaButton()">Create New Formula</button>
        </mat-dialog-actions>
 
        <br /> 
        <br /> 


        <div  class="dropdown-content" [hidden]="productLineDoesNotExist">
          <p> {{chosen_productline}} <button type="submit" (click)="addProductLineButton()">Edit</button></p>
        </div>
  
        <div  class="add-form-button" [hidden]="productLineExists">
          <mat-dialog-actions align="center" >
            <button class="mat-raised-button" (click)="addProductLineButton()">Add Product Line</button>
          </mat-dialog-actions>
        </div> 
         
        <br /> 
        <br /> 

      <mat-form-field>
        <input matInput [(ngModel)]="manufacturingrate" placeholder="Manufacturing Rate" (keydown.enter)="createSku()" required>
      </mat-form-field>

      <textarea rows="5" cols="50" style="border:inset 4px grey;" matInput [(ngModel)]="comment" placeholder="Additional Comments"> </textarea>

    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button (click)="createSku()" [disabled]="manufacturingrate==''||!manufacturingrate" color="primary">{{ submit_title }}</button>
</mat-dialog-actions>