<h2 mat-dialog-title align="center">{{ dialog_title }}</h2>
<mat-dialog-content align="center">
  <mat-card>
    <mat-card-content style="display: grid; width: 100%; justify-items: center;">
      
      <mat-form-field>
        <input matInput [(ngModel)]="skuname" placeholder="Name" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="skunumber" placeholder="Sku#">
        <mat-hint>Optional</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="caseupcnumber" placeholder="Case UPC#" required>
        <mat-hint>Must confirm to UPC-A standard (12 digit)</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="unitupcnumber" placeholder="Unit UPC#" required>
        <mat-hint>Must confirm to UPC-A standard (12 digit)</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="unitsize" placeholder="Unit Size" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="countpercase" placeholder="Count Per Case" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="formula" placeholder="Formula" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="formulascalingfactor" placeholder="Formula Scaling Factor" required>
        <mat-hint>Enter in this format: ingredient1,quantity1, ingredient2,quantity2, etc</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="manufacturingrate" placeholder="Manufacturing Rate" required>
        <mat-hint>Enter in this format: ingredient1,quantity1, ingredient2,quantity2, etc</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="comment" placeholder="Additional Comments">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="mat-raised-button" (click)="closeDialog()">Cancel</button>
  <button class="mat-raised-button" (click)="createSku()" [disabled]="username==''" color="primary">Create</button>
</mat-dialog-actions>