
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#visualization {
  height: 100%;
}

.vis-labelset .vis-label,
.vis-foreground .vis-group {
  min-height: 40px;
  border-bottom:0;
  border-bottom:1px solid #f9f9f9;
}
.vis-item {
  z-index:2;
}

.ManufacturingSchedule {
  height: 100%;
}

#timeline {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
}

div.item {
  list-style: none;
  width: 150px;
  color: #1A1A1A;
  background-color: #D5DDF6;
  border: 1px solid #97B0F8;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5px 12px;
}

div.item:before {
  content: "≣";
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: inherit;
  cursor: move;
}

.goalsContainer {
  display: flex;
  flex-direction: row;
}

.items {
  padding-left: 5px;
  padding-right: 5px;
}