<!-- <div id="visualization"></div> -->

<!-- <div id="timeline" #timeline></div> -->
<div>
    <mat-card class="ManufacturingSchedule">
        <mat-card-header style="align-content: center; align-items: center; justify-content: center; display: grid;">
            <mat-card-title>Manufacturing Schedule</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button mat-raised-button (click)="openEnableGoalsDialog()"> Enable/Disable Goals </button>
            <button mat-raised-button (click)=showLegend()> Legend </button>
            <div id="timeline" #timeline></div>
            <div class="goalsContainer">
                <div [ngClass]="['items']"  *ngFor="let goal of goalsDataSource['data']">
                    <h4>{{goal['goalname']}}</h4>
                    <p>Deadline: {{goal['date'].valueOf().split('T')[0]}}</p>
                    <div draggable="true" (dragstart)="handleDragStart($event, activity)" [ngClass]="['item']" *ngFor="let activity of goal['activities']">
                        {{activity['sku']['skuname']}}
                    </div>
                
                </div>
            </div>
            <div class="warningContainer">
                <h4>Warnings</h4>
                <div *ngFor="let item of visibleDataSource['data']"> 
                    <div [ngClass]="warning" *ngIf="item['className'] != 'normal'">
                        {{item['content']}} - {{item['start'].valueOf().split('T')[0]}}: {{item['className']}}
                    </div>
                </div>
            </div>
        </mat-card-content>

        
            
    </mat-card>    
</div>

