<div class="lines-container">
    <h3> {{_value['shortname']}}</h3>
    <div
        cdkDropList
        [id]="_value['shortname']"
        #activityList="cdkDropList"
        [cdkDropListData]="_value['activities']"
        class="activity-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let activity of _value['activities']" cdkDrag>
            SKU: {{activity['sku']['skuname']}} Hours Required: {{activity['calculatedhours']}}          
        </div>
    </div>
</div>
