
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#visualization {
  height: 100%;
}

.vis-labelset .vis-label,
.vis-foreground .vis-group {
  min-height: 40px;
  border-bottom:0;
  border-bottom:1px solid #f9f9f9;
}
.vis-item {
  z-index:2;
}

.ManufacturingSchedule {
  height: 100%;
}

#timeline {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
}

li.item {
  list-style: none;
  width: 150px;
  color: #1A1A1A;
  background-color: #D5DDF6;
  border: 1px solid #97B0F8;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5px 12px;
}

li.item:before {
  content: "≣";
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: inherit;
  cursor: move;
}
/* .ng-star-inserted {
    width: 100%;
    display: inline-block;
    padding: 2px;
  }
  
  button {
    margin: 4px 2px;
  }

  .datepicker {
    display: flex;
    padding-top: 5px;
    max-height: fit-content;
  }

  .manufacturing-schedule-container {
    display: flex;
    flex-direction: row;
  }

  .manufacturing-goals-container {
    width: 200px;
    float: left
  }

  .manufacturing-goals-list {
    display: flex;
    flex-direction: column;
  }

  .manufacturing-lines-container {
    width: 200px;
    float: left;
    padding-left: 20px;
    flex-direction: row;
    display: flex;
  }

  .manufacturing-lines-container[_ngcontent-c10] {
    width: 200px;
    float: left;
    padding-right: 10px;
  } */