<h2 mat-dialog-title align="center">Skus</h2>
<mat-dialog-content align="center">
  <mat-card>
      <mat-card-content>
              <div *ngFor="let item of names;let i = index" >
                  <mat-card-content style="display: grid; width: 100%; justify-items: center;">
                  <button class="accordion">{{item}}</button>
                  <div class="panel">
                    <br>   
                    <h4>Sku Number</h4>
                      <div>
                        <p>{{ numbers[i] }}</p>
                        <br> 
                      </div> 

                      <h4>Case UPC Number</h4>
                      <div>
                        <p>{{ caseUpcNumbers[i] }}</p>
                        <br> 
                      </div> 

                      <h4>Unit UPC Number</h4>
                      <div>
                        <p>{{ unitUpcNumbers[i] }}</p>
                        <br> 
                      </div> 

                      <h4>Unit Size</h4>
                      <div>
                        <p>{{ unitSizes[i] }}</p>
                        <br> 
                      </div> 

                      <h4>Count Per Case</h4>
                      <div>
                        <p>{{ countPerCases[i] }}</p>
                        <br> 
                      </div> 

                      <h4>Formula Scaling Factor</h4>
                      <div>
                        <p>{{ formulascalingfactors[i] }} X {{formulas[i]}}</p>
                        <br> 
                      </div> 

                      <h4>Product Line</h4>
                      <div>
                          <mat-list-item *ngFor="let nextLine of productLineNames[i]">
                              {{nextLine}}
                          </mat-list-item>
                          <br> 
                      </div> 

                      <h4>Manufacturing Lines</h4>
                      <div>
                          <mat-list-item *ngFor="let nextManLine of manufacturingLineNames[i]">
                              {{nextManLine}}
                          </mat-list-item>
                          <br> 
                      </div> 

                      <h4>Manufacturing Rate</h4>
                      <div>
                        <p>{{ manufacturingrates[i] }}</p>
                        <br> 
                      </div> 

                      <h4>Manufacturing Setup Cost</h4>
                      <div>
                        <p>{{ manufacturingsetupcosts[i] }}</p>
                        <br> 
                      </div> 

                      <h4>Manufacturing Run Cost</h4>
                      <div>
                        <p>{{ manufacturingruncosts[i] }}</p>
                        <br> 
                      </div> 

                      <h4>Comment</h4>
                      <div>
                        <p>{{ comments[i] }}</p>
                        <br> 
                      </div> 
              </div>

             </mat-card-content>
            </div>
      </mat-card-content>
      <br> 
      <br> 
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="mat-raised-button" (click)="closeDialog()">Close</button>
</mat-dialog-actions>