<h2 mat-dialog-title align="center">{{ dialog_title }}</h2>
<mat-dialog-content align="center">
  <mat-card>
    <mat-card-content style="display: grid; width: 100%; justify-items: center;">
      <mat-form-field>
        <input matInput [(ngModel)]="linename" placeholder="Linename" required (keydown.enter)="createLine()" maxlength="32">
        <mat-error>Linename must be unique.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="shortname" placeholder="shortname" required (keydown.enter)="createLine() "maxlength="5">
        <mat-error>Shortname must be unique.</mat-error>
      </mat-form-field>

      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let sku of selectedSkuNames"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(sku)">
            {{sku}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New sku..."
            #skuInput
            [formControl]="skuCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let sku of filteredSkus | async" [value]="sku">
            {{sku}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="comment" placeholder="comment">
        <mat-hint>Enter a comment...</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button (click)="createLine()" [disabled]="linename==''||shortname==''" color="primary">Create</button>
</mat-dialog-actions>