<h2 mat-dialog-title align="center">Formula {{ formulaname }} Details</h2>
<mat-dialog-content align="center">
  <mat-card>
    
    <mat-card-content style="display: grid; width: 100%; justify-items: center;">
      <h3>Formula Number</h3>
      <div>
          <br> 
        <p>{{ formulanumber }}</p>
      </div>
      
      <h3>Ingredients and Quantities</h3>
      <div>
        <mat-list>
          <mat-list-item *ngFor="let ingredientandquantity of formula.ingredientsandquantities">
            {{ingredientandquantity.ingredient.ingredientname}} | {{(ingredientandquantity.quantity * ingredientandquantity.ingredient.amount).toFixed(4)}} {{ingredientandquantity.ingredient.unitofmeasure}}
          </mat-list-item>
        </mat-list>
      </div>
      
      <h3>Comment</h3>
      <div>
          <br> 
        <p>{{ comment }}</p>
      </div> 

      <!---<p>Beans | 10 lbs <button type="submit">Edit</button><button type="submit">X</button></p> -->


      <br> 
      <br> 

    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="mat-raised-button" (click)="closeDialog()">Close</button>
</mat-dialog-actions>