<div>
  <mat-card class="Sku">
      <mat-card-header style="align-content: center; align-items: center; justify-content: center; display: grid;">
          <mat-card-title>Stock Keeping Units</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <button mat-raised-button (click)="selectAll()"> Select All </button>
          <button mat-raised-button (click)="deselectAll()"> Deselect All </button>
          <button mat-raised-button *ngIf="productmanager" (click)="deleteSelected()" color="warn" [disabled]="noneSelected()"> Delete Selected </button>
          <button mat-raised-button *ngIf="productmanager" (click)="newSkuButton()" color="primary"> New Sku </button>  
          <button mat-raised-button (click)="exportSelected()" [disabled]="noneSelected()"> Export Selected </button>        
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
            <ng-container matColumnDef="checked">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Selected</mat-header-cell>
              <mat-cell *matCellDef="let sku">
                <mat-checkbox [(ngModel)]="sku['checked']"></mat-checkbox>
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="skuname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef="let sku">
                {{sku['skuname']}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="skunumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header>SKU#</mat-header-cell>
              <mat-cell *matCellDef="let sku">
                {{sku['skunumber']}}
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="caseupcnumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Case UPC#</mat-header-cell>
              <mat-cell *matCellDef="let sku">
                {{sku['caseupcnumber']}}
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="unitupcnumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Unit UPC#</mat-header-cell>
              <mat-cell *matCellDef="let sku">
                {{sku['unitupcnumber']}}
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="unitsize">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Unit size</mat-header-cell>
              <mat-cell *matCellDef="let sku">
                {{sku['unitsize']}}
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="countpercase">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Count per case</mat-header-cell>
                <mat-cell *matCellDef="let sku">
                  {{sku['countpercase']}}
                </mat-cell>
              </ng-container>

                <ng-container matColumnDef="formula">
                  <mat-header-cell *matHeaderCellDef>Formula</mat-header-cell>
                  <mat-cell *matCellDef="let sku">
                    <button mat-button (click)="seeFormulaDetails(sku['formula'])" [disabled]="dataSource.data.length==0" color="primary">
                      {{sku['formula']['formulaname']}}
                    </button>
                    <!--<button mat-button (click)="deleteSelected(element)" color="warn">
                      <mat-icon>delete</mat-icon> 
                     </button>
                     -->
                  </mat-cell>
                  
                </ng-container>
          
            <ng-container matColumnDef="formulascalingfactor">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Formula Scaling Factor</mat-header-cell>
                <mat-cell *matCellDef="let sku">
                    {{sku['formulascalingfactor']}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="manufacturingrate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturing Rate</mat-header-cell>
              <mat-cell *matCellDef="let sku">
                  {{sku['manufacturingrate']}}
              </mat-cell>
          </ng-container>
          
            <ng-container matColumnDef="comment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Comment</mat-header-cell>
                <mat-cell *matCellDef="let sku">
                    <div *ngIf="sku['comment'].length == 0">
                        No comment
                    </div>
                    {{sku['comment']}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-button (click)="modifySelected(element)" [disabled]="dataSource.data.length==0" color="primary">
                  <mat-icon>edit</mat-icon> 
                </button>
                <!--<button mat-button (click)="deleteSelected(element)" color="warn">
                  <mat-icon>delete</mat-icon> 
                 </button>
                 -->
              </mat-cell>
              
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator id="elementsTablePaginator" [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>
      </mat-card-content>
  </mat-card>
<div>
