<button mat-raised-button (click)="selectAll()"> New Goal </button>
<button mat-raised-button (click)="deselectAll()"> Deselect All </button>
<button mat-raised-button (click)="deleteSelected()" style="color: white; background-color: red;" [disabled]="dataSource.data.length==0"> Delete Selected </button>
<button mat-raised-button (click)="newUser()"> New User </button>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="skus">
    <mat-header-cell *matHeaderCellDef>SKUS</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.skus}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="quantities">
    <mat-header-cell *matHeaderCellDef>Quantities</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.quantities}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
