<h1 mat-dialog-title>Create New Product Line</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data['productlinename']" placeholder="Product Line Name" cdkFocusInitial required (keydown.enter)="createProductLine()">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="createProductLine()" color="primary" [disabled]="data['productlinename']==''||!data['productlinename'] || nameExists">Save</button>
</div>