<div>
  <mat-card class="Formulas">
      <mat-card-header style="align-content: center; align-items: center; justify-content: center; display: grid;">
          <mat-card-title>Formulas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <button mat-raised-button (click)="selectAll()"> Select All </button>
          <button mat-raised-button (click)="deselectAll()"> Deselect All </button>
          <button mat-raised-button *ngIf="productmanager" (click)="deleteSelected()" color="warn" [disabled]="noneSelected()"> Delete Selected </button>
          <!-- <button mat-raised-button *ngIf="productmanager" (click)="modifySelected()" > Modify Selected </button> -->
          <button mat-raised-button *ngIf="productmanager" (click)="newFormulaButton()" color="primary"> New Formula </button>        <button mat-raised-button (click)="exportSelected()" [disabled]="noneSelected()"> Export Selected </button>

          

          <div style="width: 100%;">
            <mat-form-field style="display: inline-block; width: 45%;">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by Formula Name or Number">
            </mat-form-field>
  
            <mat-form-field style="display: inline-block; width: 45%; padding-left: 5%;">
            <mat-chip-list #ingredientchipList>
                <mat-chip *ngFor="let ingredient of selectedIngredients" [selectable]="false" [removable]="true"
                  (removed)="ingredientremove(ingredient)">
                  {{ingredient['ingredientname']}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Filter by Ingredient in Formula" #ingredientInput [formControl]="ingredientCtrl"
                  [matAutocomplete]="ingredientauto" [matChipInputFor]="ingredientchipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                  (matChipInputTokenEnd)="ingredientadd($event)">
              </mat-chip-list>
              <mat-autocomplete #ingredientauto="matAutocomplete"
                (optionSelected)="ingredientselected($event)">
                <mat-option *ngFor="let ingredientOption of autoCompleteIngredients | async"
                  [value]="ingredientOption">
                  {{ingredientOption['ingredientname']}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>











          <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
            <ng-container matColumnDef="checked">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Selected</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                <mat-checkbox [(ngModel)]="formula['checked']"></mat-checkbox>
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="formulaname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                {{formula['formulaname']}}
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="formulanumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Formula #</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                {{formula['formulanumber']}}
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="ingredientsandquantities">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Ingredients and Quantities</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                <!-- <div *ngFor="let ingredienttuple of formula['ingredientsandquantities']">
                    {{ingredienttuple['ingredient']['ingredientname']}}, {{ingredienttuple['quantity']}}<br />
                </div> -->
                <button mat-raised-button (click)="viewIngredientsAndQuantities(formula)" [disabled]="formula['ingredientsandquantities'].length == 0">{{formula['ingredientsandquantities'].length}} <mat-icon>list</mat-icon></button>
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="comment">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Comment</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                {{formula['comment']}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                  <button mat-button *ngIf="productmanager" (click)="modifyFormulaConfirmed(formula)" color="primary"> 
                    <mat-icon>edit</mat-icon>
                  </button>
              </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator id="elementsTablePaginator" [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>
      </mat-card-content>
  </mat-card>
<div>
