<div>
  <mat-card class="Formulas">
      <mat-card-header style="align-content: center; align-items: center; justify-content: center; display: grid;">
          <mat-card-title>Formulas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <button mat-raised-button (click)="selectAll()"> Select All </button>
          <button mat-raised-button (click)="deselectAll()"> Deselect All </button>
          <button mat-raised-button *ngIf="admin" (click)="deleteSelected()" color="warn" [disabled]="noneSelected()"> Delete Selected </button>
          <!-- <button mat-raised-button *ngIf="admin" (click)="modifySelected()" > Modify Selected </button> -->
          <button mat-raised-button *ngIf="admin" (click)="newFormulaButton()" color="primary"> New Formula </button>        <button mat-raised-button (click)="exportSelected()" [disabled]="noneSelected()"> Export Selected </button>

          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
            <ng-container matColumnDef="checked">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Selected</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                <mat-checkbox [(ngModel)]="formula['checked']"></mat-checkbox>
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="formulaname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                {{formula['formulaname']}}
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="formulanumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Formula #</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                {{formula['formulanumber']}}
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="ingredientsandquantities">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Ingredients and Quantities</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                <div *ngFor="let ingredienttuple of formula['ingredientsandquantities']">
                    {{ingredienttuple['ingredient']['ingredientname']}}, {{ingredienttuple['quantity']}}<br />
                </div>
                
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="comment">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Comment</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                {{formula['comment']}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
              <mat-cell *matCellDef="let formula">
                  <button mat-button *ngIf="admin" (click)="modifyFormulaConfirmed(formula)" color="primary"> 
                    <mat-icon>edit</mat-icon>
                  </button>
              </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator id="elementsTablePaginator" [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>
      </mat-card-content>
  </mat-card>
<div>
