    <mat-dialog-content align="center">
  <mat-card>
    <mat-card-header >
      <mat-card-title>Manufacturing Calculator: {{goal['goalname']}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        
        <mat-table [dataSource]="dataForTableSource" class="mat-elevation-z8">
          <ng-container matColumnDef="ingredientName">
            <mat-header-cell *matHeaderCellDef>Ingredient</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.ingredientName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="packages">
            <mat-header-cell *matHeaderCellDef>Packages</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.packages}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="packagesMeasured">
            <mat-header-cell *matHeaderCellDef>Packages With Units</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.packagesMeasured}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator id="elementsTablePaginator" [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons>
        </mat-paginator>
        

    </mat-card-content>
  </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
      <button mat-raised-button (click)="exportToCsv()">Export to CSV</button>
      <button mat-raised-button (click)="closeDialog()">Done</button>
    </mat-dialog-actions>