.manufacturing-calculator {
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }

.table {
  text-align: center;
  width: auto;
}

.ul{
  list-style-type: none;
  text-align: center;
}
