<h2 mat-dialog-title align="center">Enter Password to Confirm Action</h2>
<mat-dialog-content align="center">
  <mat-card>
    <mat-card-content style="display: grid; width: 100%; justify-items: center;">
      <mat-form-field>
          <input matInput [(ngModel)]="password" placeholder="Password" [type]="hidePassword ? 'password' : 'text'" (keydown.enter)="submit()">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' :
          'visibility'}}</mat-icon>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button (click)="submit()" [disabled]="password==''" color="primary">Submit</button>
</mat-dialog-actions>