<div class="sku-inventory">
  <title>Manufacturing Calculator</title>
  <h1> Select a Saved Manufacturing Goal:</h1>
  <ul class="ingredients-list">
      <li *ngFor="let ingredient of ingredients">{{ingredient.name}}</li>
      <li> yipee ki yay </li>
  </ul>
  <h1> Selected Goal:</h1>
  <table>
    <tr>
      <th>Ingredient</th>
      <th>Number of Packages</th>
    </tr>
    <tr>
      <td>Flour</td>
      <td>6.5</td>
    </tr>
    <tr>
      <td>Sugar</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Chicken</td>
      <td>3</td>
    </tr>
  </table>
</div>
<button mat-raised-button>Export to CSV</button>
<button mat-raised-button>Export to PDF</button>