<h2 mat-dialog-title align="center">{{ information_type }}</h2>
<mat-dialog-content align="center">
  <mat-card>
    <mat-card-content style="display: grid; width: 100%; justify-items: center;">
      <ul>
        <li *ngFor="let info of information_content">
          {{ info }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="mat-raised-button" (click)="closeDialog()">Dismiss</button>
</mat-dialog-actions>