.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 18px;
}

.sidenav-container, .sidenav-container * {
    text-align: center;
    background: #099778;
    color: white;
    font-size: 14px;
}


.sidenav-content {
    text-align: left;
    background: #eaeeed;
    /* background-color: lightpink; */
    color: black;
    font-size: 14px;
}

.mat-sidenav-container {
    min-height: 450px;
    background-color: rgb(234, 238, 237)
}

.mat-nav-list a.active {
    background: #044d3d;
}

@media print {
    app-footer, mat-toolbar {
        display: none;
      }
  }