<h2 mat-dialog-title align="center">{{dialog_title}}</h2>
<mat-dialog-content align="center">
  <mat-card>
    <mat-card-content style="display: grid; width: 100%; justify-items: center;">
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="Name" required>
      </mat-form-field>

      <mat-list>
        <mat-list-item *ngFor="let activity of displayableActivities">
          SKU: {{activity.skuname}}: {{activity.hours}} Hours
        </mat-list-item>
        </mat-list>

      <div class="activities">
      <mat-form-field class="left">
        <input #skuInput type="text" placeholder="Enter a SKU name" matInput [formControl]="skuCtrl" [matAutocomplete]="auto">
               <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let sku of autocompleteSkus | async" [value]="sku">
            {{sku['skuname']}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="right">
        <input matInput [(ngModel)]="quantity" placeholder="Quantity">
      </mat-form-field>
    </div>
    <button class="mat-raised-button" (click)="addActivity()">Add Activity</button>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose the goal's Deadline" [formControl] = "dateCtrl"
        (dateInput)="addDate('input', $event)" required (dateChange)="addDate('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button (click)="createGoal()" [disabled]="username=='' || name=='' || date=='Invalid Date'" color="primary">Create</button>
</mat-dialog-actions>