<h2 mat-dialog-title align="center">Record Collision</h2>
<mat-dialog-content align="center">
  <p>Compare the colliding records and determine the appropriate action.</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <!-- <mat-checkbox [(ngModel)]="element['checked']"></mat-checkbox> -->
  <mat-checkbox [(ngModel)]="applyToAll">Apply to all collisions</mat-checkbox>
  <button class="mat-raised-button" (click)="closeDialog(false)">Use Old Data</button>
  <button class="mat-raised-button" color="primary" (click)="closeDialog(true)">Use New Data</button>
</mat-dialog-actions>