<div class="home-intro">
    <ul align="left">
            <li>
                This application SKUs (Stock-Keeping Units) for the food items 
                produced by the company. These details are provided 
                by the administrator.
            </li> 
            <li>
                This application tracks the ingredients that are used to
                 manufacture each SKU.
            </li>
            <li>
                Manufacturing staff can use this application to calculate 
                ingredient needs based on manufacturing goals.
            </li>
            <li>
                Product managers can use this application to produce reports showing 
                information about ingredients and the SKUs they are used to make.
            </li>
            <li>
                Users are able to bulk-import and bulk-export ingredients 
                and SKU information from simple text format.
            </li>
            
    </ul>
</div>    
