<mat-card>
    <mat-card-header style="align-content: center; align-items: center; justify-content: center; display: grid;">
        <mat-card-title style="text-align:center;">
            Home
        </mat-card-title>
        <mat-card-subtitle style="text-align:center;">
            Hypothetical Code
        </mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-divider></mat-divider>
    <br>

    <div style="display:inline-block;width:100%;text-align: center;">
        <div style="display:inline-block;width: 70%; text-align: left;">
            <mat-card-content>
                <h4>Instructions</h4>
                <p>
                    Use the sidebar in the top left corner to navigate the page.
                </p>
            </mat-card-content>
        </div>
    </div>
</mat-card>