<mat-form-field>
  <input matInput placeholder="Filter" [(ngModel)]="filterQuery" (ngModelChange)="refreshData($event)">
</mat-form-field>
<button mat-raised-button (click)="openDialog()" color="primary"> New </button>
<button mat-raised-button (click)="deleteProductLine()" color="warn">Delete</button>

<div cdkDropListGroup class='manufacturing-goals-container'>
  <div *ngFor="let goals of dataSource['data']">
    <app-manufacturing-goals-tables class="manufacturingGoal" [(ngModel)]="goals"></app-manufacturing-goals-tables>
  </div>
</div>

<button class="mat-raised-button" (click)="closeDialog()">Done</button>